body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    color: white;
    text-decoration: none;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header{
    font-size: 32px;
    font-weight: 900;
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: lightseagreen;
}

.main{
    flex: 1;
    display: flex;
}

.sidebar{
    background-color: blue;
    width: 200px;
    font-size: 24px;
    padding: 16px;
}

.content{
    gap: 16px;
    flex: 1;
    display: flex;
    padding: 32px;
    flex-wrap: wrap;
}

.footer{
    height: 32px;
    padding: 16px;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    padding: 5px;
    border-radius: 5px;
    height: 250px;
    width: 300px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
}