body{
    background-image: url("https://images.alphacoders.com/113/1138740.png");
    background-size: cover;
    background-repeat: no-repeat;
    resize: both;
}

.container{
    gap: 8px;
    padding: 8px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}  

.item{
    padding: 8px;
    background-color: white;
    text-align: center;
    border: solid black 2px;
    flex: 0 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.spacing{
    flex: 1;
}